In [ ]:
# Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. 
# You are given n scores. Store them in a list and find the score of the runner-up.

# Given list is [2,3,6,6,5] . The maximum score is 6, second maximum is 5. Hence, we print 5 as the runner-up score.

In [ ]:
# # solution
# l = list(sorted(set(arr)))
# print(l[-2])

In [ ]:
# Given the names and grades for each student in a class of  students, 
# store them in a nested list and print the name(s) of any student(s) having the second lowest grade.
# Note: If there are multiple students with the second lowest grade, order their names alphabetically
# and print each name on a new line.
# Input Format

# The first line contains an integer,N, the number of students.
# The 2N subsequent lines describe each student over  lines.
# - The first line contains a student's name.
# - The second line contains their grade.

# Constraints
# 2<= N <=5
# There will always be one or more students having the second lowest grade.

In [ ]:
student = []
for _ in range(int(input())):
    name = input()
    score = float(input())
    student.append([name,score])

In [ ]:
student

In [ ]:
marks = [student[i][1] for i in range(len(student))]
marks = list(sorted(set(marks)))

In [ ]:
marks

In [ ]:
stu_list = [student[i][0] for i in range(len(student)) if student[i][1] == marks[1]]
stu_list.sort()

In [ ]:
for i in range(len(stu_list)):
    print(stu_list[i])

In [1]:
student = []
for _ in range(int(input())):
    name = input()
    score = float(input())
    student.append([name,score])
    
marks = [student[i][1] for i in range(len(student))]
marks = list(sorted(set(marks)))

stu_list = [student[i][0] for i in range(len(student)) if student[i][1] == marks[1]]
stu_list.sort()

for i in range(len(stu_list)):
    print(stu_list[i])

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

In [ ]:
# The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. 
# Print the average of the marks array for the student name provided, showing 2 places after the decimal.

# Input Format

# The first line contains the integer n, the number of students' records. 
# The next n lines contain the names and marks obtained by a student, each value separated by a space.
# The final line contains query_name, the name of a student to query.

# Sample Input 0

# 3
# Krishna 67 68 69
# Arjun 70 98 63
# Malika 52 56 60
# Malika

# Sample Output 0

# 56.00

In [2]:
# if __name__ == '__main__':
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
val = student_marks.get(query_name,0)
percentage = float(sum(val)/len(val))
print("%.2f" % percentage)

3
mdi
1
2
3

TypeError: 'int' object is not iterable